

<form action="https://productscience.us8.list-manage.com/subscribe/post" method="POST">
    <input type="hidden" name="u" value="1151cf8076b7bc6d2a1baad10">
    <input type="hidden" name="id" value="e398a47517">


    <!-- people should not fill these in and expect good things -->
    <div class="field-shift" aria-label="Please leave the following three fields empty">
        <label for="b_name">Name: </label>
        <input type="text" name="b_name" tabindex="-1" value="" placeholder="Freddie" id="b_name">

        <label for="b_email">Email: </label>
        <input type="email" name="b_email" tabindex="-1" value="" placeholder="youremail@gmail.com" id="b_email">

        <label for="b_comment">Comment: </label>
        <textarea name="b_comment" tabindex="-1" placeholder="Please comment" id="b_comment"></textarea>
    </div>

    <div id="mergeTable" class="mergeTable">

        
        <div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
            <label for="MERGE0">Email Address <span class="req asterisk">*</span></label>
            <div class="field-group">
                <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="">


            </div>

        </div>





    </div>



    <div class="submit_container clear">
        <input type="submit" class="formEmailButton" name="submit" value="Subscribe to list">
    </div>
    <input type="hidden" name="ht" value="49eea481fa8683ed2782f0ef7be469a296995c41:MTUwNzczMjMxMy41MTcy">
    <input type="hidden" name="mc_signupsource" value="hosted">
</form>
