<!DOCTYPE html>
<html lang="en">
<title>{{ renderData.title or title or metadata.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/tachyons.min.css">
<link rel="stylesheet" href="/css/pfw.css">

<script src="/js/cookies.js" charset="utf-8"></script>
<script src="/js/index.js" charset="utf-8"></script>

<body class="w-100 sans-serif bg-white">

    {% include "partials/header.njk" %}

    <section class="bt bb bg-green pv3 pl5 pr5">
        <h1 class="f1 lh-title measure white">{{ title }}</h1>
    </section>

    {% include "partials/sorry-its-not-done-yet.njk" %}

    <section class="center f4 pa3 ph5-ns page-content">
        {{ content | safe }}
    </section>

    {% include "partials/mailing-list-form.njk" %}
    {% include "partials/footer.njk" %}

</body>

</html>