<div class="not-done-yet pa2 bg-washed-yellow f4 pa3 ph5-ns f6">
  <div class="w-50 lh-copy">
    <p>This guide is being written in the open, so you're looking at unfinished
       draft content. Sorry about the mess.</p>
    <p>You can get an idea of the <a href="https://trello.com/b/I3co3nYM/planet-friendly-web-guide-board">proposed table of contents on this trello board</a>, and if you're up for helping <a href="https://www.planetfriendlyweb.org/contributing/">we're looking for help in a number of areas</a>.</p>
    <p>If you just want to hear when a first version of the guide is ready, <a href="#mc-embedded-subscribe-form">you can sign up for the newsletter</a> too.</p>
  </div>


</div>
