<nav class="pa3 ph5-ns">
    <a class="link dim black b f6 f5-ns dib mr3" href='/' title="Home">Planet Friendly Web Guide</a>
    <a class="link dim gray    f6 f5-ns dib mr3" href='/about' title="About">About</a>
    <a class="link dim gray    f6 f5-ns dib mr3" href='/contributing' title="Contributing">Contributing</a>
    <a class="link dim gray    f6 f5-ns dib mr3" href='/contact' title="Contact">Contact</a>
</nav>