<!DOCTYPE html>
<html lang="en">
<title>PFW - {{ .Title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/tachyons.min.css">
<link rel="stylesheet" href="/css/pfw.css">

<script src="/js/cookies.js" charset="utf-8"></script>
<script src="/js/index.js" charset="utf-8"></script>

<body class="w-100 sans-serif bg-white">

    {{ partial "header.html" }}
    <section class="bt bb bg-green pv3 pl5 pr5">
        <h1 class="f1 lh-title measure white">{{ .Title }}</h1>
    </section>

    {{ partial "sorry-its-not-done-yet.html" }}

    <section class="center f4 pa3 ph5-ns page-content">
        {{ .Content | markdownify }}
    </section>


    {{ partial "mailing-list-form.html" }}
    {{ partial "footer.html" }}

</body>

</html>