<!DOCTYPE html>
<html lang="en">
<title>{{ site.title }} -  {{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/tachyons.min.css">
<link rel="stylesheet" href="/assets/pfw.css">

<body class="w-100 sans-serif bg-white">

  {% include header.html %}

  <section class="bt bb bg-green pv3 pl5 pr5">
    <h1 class="f-headline lh-title measure white">Make the web green.</h1>
  </section>

  <section class="pv3 pl5 pr5">

    <h2 class="f3 lh-title measure">The internet is a great thing. It is also the biggest machine on earth, and it runs mostly on coal, which is bad news for our climate.</h2>

    <h2 class="f3 lh-title measure ph">While we might not be able to stop using the web, we can change how we build and power it, to make it planet friendly as well as user friendly.</h2>
  </section>

  <section class="bt pv2 pl5 pr5 bg-washed-green">

    <h2 class="normal measure-wide lh-title">The <em>planet friendly web guide</em> is an open source, freely available guide, combining an <a href="/mental-model">easy-to-understand mental model</a> to help you think through <em>what</em> you can do and why, with focussed guides showing <em>how</em> you can make these changes, drawing on techniques from fields ranging from service design, user experience, web performance optimisation, and technical architecture.</h2>

    <p><a href="{% link content/why-it-matters.md %}">You can start at the beginning</a>,
      or jump straight to the main sections below,
      or <a href="{% link content/toc.md %}">see the full table of contents</a>.
    </p>

  </section>

  <section class="pv1 pl5 pr5 cf bg-washed-green">

    <section class="fl pr2 w-100 w-third-ns pb5">
      <h3 class="f2 measure mt0">Your Packets</h3>
      <p class="min-h2">Energy used to get data from your servers to your users.</p>
      <a class="f6 link dim br2 ba bw1 ph3 pv2 mb2 dib black" href="{% link content/packets.md %}">Learn More</a>
    </section>

    <section class="fl w-third-ns w-100 pr2">
      <h3 class="f2 measure mt0">Your Platform</h3>
      <p class="min-h2">Energy you use powering servers you control, to build and run the digital products you make.</p>

      <a class="f6 link dim br2 ba bw1 ph3 pv2 mb2 dib black" href="{% link content/platform.md %}">Learn More</a>

    </section>
    <section class="fl w-third-ns w-100 pr2">
      <h3 class="f2 measure mt0">Your Process</h3>
      <p class="min-h2">Energy use built into the way your organisation is set up to deliver digital products to your users.</p>

      <a class="f6 link dim br2 ba bw1 ph3 pv2 mb2 dib black" href="{% link content/process.md %}">Learn More</a>
    </section>

  </section>

  <section class="pv4 pl5 pr5 cf bt background-light-gray cf">



    <div class="fl w-100 w-50-ns pr4">
      <h3>An open project, built for you, by you.</h3>
      All the content in the <em>Planet Friendly Web Guide</em> is available under the Creative Commons Attribution Share Alike 4.0 license, and the source code for this site, and all the text is freely avaiable on Github.
    </div>

    <div class="fl w-100 w-25-ns github">
        <a href="https://github.com/productscience/planet-friendly-web"
        class="black-70 no-underline grow br5 b inline-flex items-center mr3 mb3 pv2 mt4">
          <img src="/assets/github--128x128.png" style="height:4em;" class="mr2" alt="">
          Visit the project on github
        </a>
    </div>
    <div class="fl w-100 w-25-ns">
        <a href="{% link content/contributing.md %}"class="black-70 no-underline grow br5 b inline-flex items-center mr3 mb3 pv2 mt4">
          <img src="/assets/volunteer--128x128.png" style="width:4em;" class="mr2"  alt="">
          See how you can contribute to the guide
        </a>
    </div>

  </section>

  {% include mailing_list_form.html %}
  {% include footer.html %}

</body>

</html>
