<!DOCTYPE html>
<html lang="en">
<title>{{ site.title}} -  {{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/tachyons.min.css">
<link rel="stylesheet" href="/assets/pfw.css">

<body class="w-100 sans-serif bg-white">

  {% include header.html %}

  <section class="bt bb bg-green pv3 pl5 pr5">
    <h1 class="f-headline lh-title measure white">Decarbonise The Web</h1>
  </section>

  <section class="pv3 pl5 pr5">

    <h2 class="f2 lh-title measure">The internet is a great thing. It is also the biggest machine on earth, and it runs mostly on coal, which is bad news for our climate.</h2>

    <h2 class="f2 lh-title measure ph">While we might not be able to stop using the web, but can change how we build and power it, to make it planet friendly as well as user friendly.</h2>
  </section>

  <section class="bt pv2 pl5 pr5 bg-washed-green">

    <h2 class="normal measure-wide lh-title">The <em>planet friendly web guide</em> is an open source, freely available guide, showing how you can do this, using an easy-to-understand mental model, and established techniques from fields ranging from service design, to web performance optimisation.</h2>

    <p><a href="{% link why-it-matters.md %}">Start at the beginning</a>,
       <a href="#">see the table of contents</a>,
       or jump straight to the main sections below
    </p>

  </section>

  <section class="pv1 pl5 pr5 cf bg-washed-green">

    <section class="fl w-third pr2">
      <h3 class="f2 measure mt0">Your Packets</h3>
      <p class="min-h2">Energy used to get data from your servers to your users.</p>
      <a class="f6 link dim br2 ba bw1 ph3 pv2 mb2 dib black" href="{% link packets.md %}">Learn More</a>
    </section>

    <section class="fl w-third pr2">
      <h3 class="f2 measure mt0">Your Platform</h3>
      <p class="min-h2">Energy you use powering servers you control, to build and run the digital products you make.</p>

      <a class="f6 link dim br2 ba bw1 ph3 pv2 mb2 dib black" href="{% link platform.md %}">Learn More</a>

    </section>
    <section class="fl w-third pr2">
      <h3 class="f2 measure mt0">Your Process</h3>
      <p class="min-h2">Energy use built into the way your organisation is set up to deliver digital products to your users.</p>

      <a class="f6 link dim br2 ba bw1 ph3 pv2 mb2 dib black" href="{% link process.md %}">Learn More</a>
    </section>

  </section>

  <section class="pv4 pl5 pr5 cf bt background-light-gray cf">

    <h3>An open project, built for you, by you.</h3>

    <div class="fl w-50 pr4">
      All the content in the <em>Planet Griendly Web Guide</em> is available under the Creative Commons Attribution Share Alike 4.0 license, and the source code for this site, and all the text is freely avaiable on Github.
    </div>

    <div class="fl w-25">
      <a href="https://github.com/productscience/planet-friendly-web">Visit the project on github</a>
    </div>
    <div class="fl w-25">
      <a href="{% link contributing.md %}">See how you can contribute to the guide</a>
    </div>

  </section>

  {% include mailing_list_form.html %}
  {% include footer.html %}

</body>

</html>
