<!DOCTYPE html>
<html lang="en">
<title>{{ site.title}} -  {{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/tachyons.min.css">
<link rel="stylesheet" href="/assets/pfw.css">

<body class="w-100 sans-serif bg-white">

  {% include header.html %}
  <section class="bt bb bg-green pv3 pl5 pr5">
    <h1 class="f1 lh-title measure white">{{ page.title }}</h1>
  </section>

  <section class="center f4 pa3 ph5-ns page-content">
      {{ page.content | markdownify }}
  </section>


  {% include mailing_list_form.html %}
  {% include footer.html %}

</body>

</html>
